---
import ContentLayout from "../../ContentLayout.astro";
import { parseExcerpt } from "../../utils";

const demos = await Astro.glob('./*.md');
const sortedDemos = demos.toSorted((a, b) => {
    const aPriority = a.frontmatter.priority || 999999;
    const bPriority = b.frontmatter.priority || 999999;

    return aPriority - bPriority;
});

// Pre-compile all content
const demosWithContent = await Promise.all(
  sortedDemos.map(async (demo) => ({
    ...demo,
    excerpt: parseExcerpt(await demo.compiledContent())
  }))
);
---

<ContentLayout
    title="TypeIt Demos"
    description="Whether it's to spark some inspiration or to get a better feel what TypeIt's capable of, here's a growing collection of low-fidelity CodePen demos."
    >

    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-0">

    { demosWithContent.map(demo => {
        const demoUrl = demo.frontmatter.external_url || demo.url;
        const isExternal = !!demo.frontmatter.external_url;

        return (
            <li class="border-2 border-solid border-slate-200 rounded-md p-6 flex flex-col">
                <h2 class="text-2xl mt-0 mb-3">
                    <a href={demoUrl}>
                        { demo.frontmatter.title }    
                    </a>
                </h2>

                <div class="mb-8">
                    <p class="text-base m-0">
                        { demo.excerpt }
                    </p>
                </div>

                <div class="mt-auto">
                    <a href={demoUrl} target={isExternal ? '_blank' : '_self'}>See Demo →</a>
                </div>
            </li>
        )
    })}
    </ul>
</ContentLayout>
