---
import ContentLayout from "../../ContentLayout.astro";
import { parseExcerpt } from "../../utils";

const demos = await Astro.glob('./*.md');
---

<ContentLayout
    title="TypeIt Demos"
    description="Whether it's to spark some inspiration or to get a better feel what TypeIt's capable of, here's a growing collection of low-fidelity CodePen demos."
    >

    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-0">

    { demos.map(demo => {
        return (
            <li class="border-2 border-solid border-slate-200 rounded-md p-6 flex flex-col">
                <h2 class="text-2xl mt-0 mb-3">
                    <a href={demo.url}>
                        { demo.frontmatter.title }    
                    </a>
                </h2>

                <div class="mb-8">
                    <p class="text-base m-0">
                        { parseExcerpt(demo.compiledContent()) }
                    </p>
                </div>

                <div class="mt-auto">
                    <a href={demo.url}>See Demo →</a>
                </div>
            </li>
        )
    })}
    </ul>
</ContentLayout>
