---
import Analysis from "../analysis/index";
import Layout from "../Layout.astro";
---

<Layout
  title="TypeIt | Analyze Your Site"
  description="See how much you could save by optimizing your images with TypeIt."
>
  <div class="max-w-4xl mx-auto px-4 md:px-8">
    <div class="pt-10" id="analysisIntro">
      <h1 class="text-4xl mt-0 md:text-6xl font-bold mb-0">
        See how much page weight you could save by optimizing your site's images.
      </h1>

      <p>
        Optimizing and converting your images to WebP can have a significant impact on your site's Core Web Vitals, SEO, and overall performance. After entering a URL, this tool will analyze your site, showing how page weight could be saved by optimizing your images with a service like TypeIt.
      </p>

      <span class="text-gray-600 text-sm">
        Images found in &lt;img&gt; tags, &lt;style&gt; tags, and inline CSS will be handled by the tool. Images loaded via JavaScript won't be included.
      </span>
    </div>

    <Analysis client:load />
  </div>
</Layout>

<script>
  import { getUrlParams } from "../utils";
  import { toggleHeader } from "../analysis/index";

  const urlParams = getUrlParams();

  // If the key is in the URL, hide the header as soon as possible.
  if(urlParams.get('key')) {
    toggleHeader("none");
  }
</script>
