---
import LightningDivider from "../components/LightningDivider.astro";
import PricingCards from "../components/PricingCards.astro";
import WordPressLogo from "../components/WordPressLogo.astro";
import Perks from "../components/Perks.astro";
import Icon from "heroicons-astro/Heroicon.astro";
import Layout from "../Layout.astro";
import HeroSnippet from '../snippets/hero.md';
import Hero from "../examples/Hero.astro";
---

<Layout>
  <div class="max-w-5xl mx-auto px-4 md:px-8 pt-16">
    <div class="text-center max-w-2xl mx-auto">
      <Hero />

      <HeroSnippet />

      <p class="max-w-2xl mx-auto md:text-2xl mt-12 mb-12 leading-normal">
        TypeIt is a JavaScript library that makes it easy to create flexible, dynamic typewriter effects for the web.
      </p>

      <Perks />
    </div>

    <LightningDivider />

    <h2 class="text-center text-4xl">A real-world example.</h2>

    <p class="text-center mb-12 max-w-2xl mx-auto">
      The following image was taken from a real website. No throttling, cache
      disabled. Those with sensitivities to unperformant websites may want to
      look away.
    </p>

    <ul class="grid sm:grid-cols-2 gap-6">
      <li>
        <h3 class="m-0">Before</h3>
        <p class="mt-0 mb-4">200kb, nearly three seconds to load. 😱</p>
        <img
          src="https://www.TypeIt.dev/https://www.TypeIt.dev/assets/ex-before.gif"
          loading="lazy"
          width="480"
          height="559"
          class="max-w-full h-auto"
          alt="image before TypeIt"
        />
      </li>
      <li>
        <h3 class="m-0">After</h3>
        <p class="mt-0 mb-4">Less than 60kb, just 54ms to load. ⚡️</p>
        <img
          src="https://www.TypeIt.dev/https://www.TypeIt.dev/assets/ex-after.gif"
          loading="lazy"
          width="480"
          height="559"
          class="max-w-full h-auto"
          alt="image after TypeIt"
        />
      </li>
    </ul>

    <h4 class="text-2xl text-center mb-0 mt-12">Need a closer look?</h4>
    <p class="text-center mb-12 max-w-xl mx-auto mt-0">
      Play with these two links. One's an unoptimized, poorly cached, 2.4mb PNG.
      The other is the same image, 91% smaller, in a modern format, and cached
      like crazy.
      <br />
      <strong>All we did was change the URL.</strong>
    </p>

    <div
      class="flex flex-col sm:flex-row gap-4 justify-center max-w-5xl mx-auto"
    >
      <div>
        <span class="block mb-2 font-semibold"> Unoptimized</span>
        <a
          target="_blank"
          href="https://www.macarthur.me/trees.png"
          class="button light break-all"
        >
          <Icon
            iconCode="link"
            iconStyle="outline"
            customClasses="h-4 w-4 sm:h-6 sm:w-6 text-inherit flex-none"
          />
          <span>https://www.macarthur.me/trees.png</span>
        </a>
      </div>
      <div>
        <span class="block mb-2 font-semibold"> Optimized</span>
        <a
          target="_blank"
          href="https://TypeIt.dev/https://www.macarthur.me/trees.png"
          class="button light break-all"
        >
          <Icon
            iconCode="link"
            iconStyle="outline"
            customClasses="h-4 w-4 sm:h-6 sm:w-6 text-inherit flex-none"
          />
          <span>
            <strong>https://TypeIt.dev</strong
            >/https://www.macarthur.me/trees.png
          </span>
        </a>
      </div>
    </div>

    <LightningDivider />

    <div class="max-w-5xl mx-auto">
      <h2 class="text-center text-4xl">How it works.</h2>

      <p class="text-center mb-12 max-w-xl mx-auto">
        Prefix your existing image URLs with TypeIt's domain. You're done. For
        many images, that tiny change makes for a huge difference.
      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="mb-8 text-center md:text-left">
          <span class="block font-semibold text-xl mb-2"> Old URL</span>

          <span class="inline-block mb-4 bg-gray-100 border-2 p-3 rounded-md">
            https://your-site.com/pic.jpg
          </span>

          <ul class="flex flex-col gap-2 mt-6 md:mt-3">
            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="exclamation-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-red-500 flex-none"
                />
                <span>Served from a single location, far from users.</span>
              </span>
            </li>
            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="exclamation-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-red-500 flex-none"
                />
                <span
                  >Caching sucks, requiring a new fetch every page load.</span
                >
              </span>
            </li>

            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="exclamation-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-red-500 flex-none"
                />
                <span
                  >Images are served in outdated formats (jpeg, png, etc.).</span
                >
              </span>
            </li>

            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="exclamation-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-red-500 flex-none"
                />
                <span>File size is huge, often hundreds of kilobytes.</span>
              </span>
            </li>
          </ul>
        </div>

        <div class="mb-8 text-center md:text-left">
          <span class="block font-semibold text-xl mb-2"> New URL</span>

          <span class="inline-block mb-4 bg-gray-100 border-2 p-3 rounded-md">
            <strong>https://TypeIt.dev/</strong>https://your-site.com/pic.jpg
          </span>

          <ul class="flex flex-col gap-2 mt-6 md:mt-3">
            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="check-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-green-500 flex-none"
                />
                <span
                  >Served by the best <a
                    class="inline"
                    href="https://www.cloudflare.com/network/"
                    target="_blank">globally distributed CDN</a
                  > out there.</span
                >
              </span>
            </li>

            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="check-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-green-500 flex-none"
                />
                <span
                  >Cached on the user's device, and for a year on the CDN.</span
                >
              </span>
            </li>

            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="check-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-green-500 flex-none"
                />
                <span>Lean, modern formats for browsers that support them.</span
                >
              </span>
            </li>

            <li>
              <span class="flex gap-2 mb-2 text-base font-semibold text-left">
                <Icon
                  iconCode="check-circle"
                  iconStyle="outline"
                  customClasses="h-6 w-6 text-green-500 flex-none"
                />
                <span>Miniscule file size, often ~70% smaller.</span>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <LightningDivider />

      <h2 class="text-center text-4xl">Why it's needed.</h2>

      <p class="text-center mb-12 max-w-xl mx-auto">
        Poorly optimized images are pounding the web, and it's too much of a
        hassle to fix. Specifically, TypeIt addresses two common issues:
      </p>

      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-4">
        <li>
          <span class="flex gap-2 mb-2 text-base font-semibold text-left">
            <Icon
              iconCode="exclamation-circle"
              iconStyle="outline"
              customClasses="h-6 w-6 text-red-500 flex-none"
            />
            Poor cache headers.
          </span>
          <p class="text-base">
            Many images aren't cached long enough, and even if they are,
            browsers are forced to revalidate them on every request.

            <br /><br />

            TypeIt makes images locally cacheable for a year and immutable, so
            they never need to be revalidated. And when they do need to be
            fetched again, the're available from the best CDN in the world.
          </p>
        </li>

        <li>
          <span class="flex gap-2 mb-2 text-base font-semibold text-left">
            <Icon
              iconCode="exclamation-circle"
              iconStyle="outline"
              customClasses="h-6 w-6 text-red-500 flex-none"
            />
            Hefty, antiquated image formats.
          </span>
          <p class="text-base">
            Modern image formats like .webp are widely supported by modern
            browsers, and offer serious savings in file size. But for various
            reasons, many sites have yet to take advantage.

            <br /><br />

            TypeIt automatically converts your images to .webp and only serves
            it if it's smaller than the original.
          </p>
        </li>
      </ul>

      <LightningDivider />

      <h2 class="text-center text-4xl" id="pricing">What it costs.</h2>

      <p class="text-center mb-12 max-w-xl mx-auto">
        Introductory rates. If you're an agency and the plans you see here don't
        quite fit, <a href="https://macarthur.me/contact" target="_blank"
          >get in touch.</a
        >
      </p>

      <PricingCards />

      <LightningDivider />

      <div
        class="gradient-filled-box w-screen relative left-1/2 transform -translate-x-1/2 grid mb-12"
      >
        <div
          class="flex flex-col sm:flex-row max-w-3xl mx-auto items-center px-6 py-12 gap-2 sm:gap-4"
        >
          <div class="flex items-center gap-4 mx-auto">
            <div class="w-16 h-16 sm:w-24 ms:h-24">
              <WordPressLogo />
            </div>

            <h2 class="m-0 text-2xl sm:text-4xl text-white immune">
              Ready for WordPress.
            </h2>
          </div>

          <div>
            <p class="text-white">
              The official TypeIt plugin will make it a breeze make the images
              on your WordPress sites faster and leaner than ever. Get an
              account, activate the plugin, and you're done.
            </p>

            <a
              href="/docs/wordpress"
              class="link text-white hover:text-white flex items-center gap-2"
            >
              Learn More
              <Icon
                iconCode="arrow-right"
                iconStyle="outline"
                customClasses="h-4 w-4 sm:h-6 sm:w-6 text-inherit flex-none"
              />
            </a>
          </div>
        </div>
      </div>

      <p class="text-center mb-12 max-w-xl mx-auto">
        Sign up for a 14-day free trial. No card required.
      </p>

      <div class="text-center">
        <a href="https://app.TypeIt.dev" class="button">
          Create Free Account
        </a>
      </div>
    </div>
  </div>
</Layout>
