---
import Simple from "../examples/Simple.astro";
import Perks from "../components/Perks.astro";
import Layout from "../Layout.astro";
import HeroSnippet from '../snippets/hero.md';
import Hero from "../examples/Hero.astro";
---

<Layout>
  <div class="max-w-5xl mx-auto px-4 md:px-8 pt-16">
    <div class="text-center max-w-2xl mx-auto">
      <Hero />

      <!-- <HeroSnippet /> -->

      <p class="max-w-2xl mx-auto md:text-2xl mt-12 mb-12 leading-normal">
        TypeIt is a JavaScript library that makes it easy to create flexible, dynamic typewriter effects for the web.
      </p>

      <Perks />
    </div>

    <div id="examples" class="mt-12">
      <Simple />
    </div>

  </div>
</Layout>
