<footer class="text-center text-gray-500 pt-24 pb-6 text-base">

  <hr class="border-0 h-[2px] w-64 mx-auto bg-gray-300 mb-6" />

  <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-8 max-w-3xl mx-auto px-4">

    <div class="text-left">
      <h6 class="text-sm m-0 text-left">&copy; {new Date().getFullYear()} </h6>

      TypeIt is a product from <a
        href="https://macarthur.me"
        target="_blank">Alex MacArthur</a
      > 
    </div>

    <div>
      <h6 class="text-sm m-0 text-left">Tools</h6>
      
      <ul class="text-left mt-0 flex flex-col gap-2">
        <li>
          <a href="/convert/png">Convert WebP to PNG</a>
        </li>

        <li>
          <a href="/convert/jpeg">Convert WebP to JPG</a>
        </li>

        <li>
          <a href="/convert/avif-to-jpeg">Convert AVIF to JPG</a>
        </li>

        <li>
          <a href="/convert/avif-to-png">Convert AVIF to PNG</a>
        </li>
      </ul>
    </div>

    <div>
      <h6 class="text-sm m-0 text-left">Legal</h6>
      
      <ul class="text-left mt-0 flex flex-col gap-2">
        <li>
          <a href="/policies/privacy">Privacy Policy</a>
        </li>

        <li>
          <a href="/policies/terms">Terms of Use</a>
        </li>

        <li>
          <a href="/policies/sla">SLA</a>
        </li>
      </ul>
    </div>

    <div>
      <h6 class="text-sm m-0 text-left">Other</h6>
      <ul class="text-left mt-0 flex flex-col gap-2">
        <li>
          <a href="/docs">Documentation</a>
        </li>
        
        <li>
          <a href="/for/agencies">TypeIt for Agencies</a>
        </li>

        <li>
          <a href="/why-image-format-matters">Why Modern Image Formats?</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
