<footer class="text-center text-gray-500 pt-24 pb-6 text-base">

  <hr class="border-0 h-[2px] w-64 mx-auto bg-gray-300 mb-6" />
    <div class="flex gap-2 items-center justify-center">
      <span class="text-sm m-0 text-left">&copy; {new Date().getFullYear()}</span>

      <span class="text-slate-300 pl-1">|</span>

      <span>TypeIt is a product from <a
        href="https://macarthur.me"
        target="_blank">Alex MacArthur</a
      ></span>

      <span class="text-slate-300 pl-1">|</span>

      <a href="/licenses">Licenses</a>
    </div>
</footer>
