---
const { classes = "" } = Astro.props;
---

<span class={`inline-flex items-center text-3xl ${classes}`}>
  <span
    class="font-black text-gray-800 text-[inherit] tracking-[-.03em]"
    >TypeIt</span
  >
</span>
