:root {
  --ti-cursor-transform: translateX(0em);
  --sl-font: "Space Grotesk Variable", sans-serif;
}

body {
  font-family: var(--sl-font);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
}

[data-theme="light"] .main-frame h1,
[data-theme="light"] .main-frame h2,
[data-theme="light"] .main-frame h3,
[data-theme="light"] .main-frame h4,
[data-theme="light"] .main-frame h5,
[data-theme="light"] .main-frame h6 {
  @apply text-gray-800 !important;
}

starlight-theme-select {
  content-visibility: hidden;
}

.social-icons {
  display: none;
}

.site-title {
  @apply font-bold;
}

.site-title {
  background: linear-gradient(
    to bottom right,
    theme("colors.slate.700"),
    theme("colors.slate.500")
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotateGradient 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  background-size: 100% 150%;
  padding-right: 0.1em;
}

[data-theme="dark"] .site-title {
  @apply text-white;
  -webkit-text-fill-color: unset;
  background: none;
}

input,
textarea {
  @apply text-lg p-4 w-full max-w-full box-border border-2 border-solid border-slate-200 rounded-md outline-slate-400;
}

label {
  @apply mb-2 inline-block;
}

p > code {
  @apply bg-slate-100 text-slate-800 rounded-md p-1;
}

body .token.class-name {
  text-decoration: none;
}
